.title {
    padding-left: 30px;
    margin: 0%;
    font-size: 16px;
    letter-spacing: 0.16px;
    font-weight: 600;
    color: rgb(138, 138, 138);
}

.postsList {
    margin: 2%;
}

.postsList u {
    display: flex;
    flex-direction: row;
}